<html>
    <title>
        Image Share - Post
    </title>
    <!-- <link rel = "stylesheet" type = "text/css" href = "style.css"/> --> <!-- cause BSON error, need to manual implement style -->
    <body style = "font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <h1 style="font-family: Helveitca, sans-serif">Image Share</h1>
        <nav>
            <div style = "background-color: #515671; overflow: hidden">
                <a href = "/" style = "color: white; float: left; padding: 12px 15px; text-align: center; text-decoration: none">Home</a>
                <a href = "/logout" style = "color: white; float: right; padding: 12px 15px; text-align: center; text-decoration: none">Logout</a>
            </div>
        </nav>
        <table>
            <tr>
                <td style = "color: darkgrey; text-align: right">Date: <%= post.date %></td>
            </tr>
            <tr>
                <td><img src = "data:image/jpeg; base64, <%= post.image %>" style = "display: block; margin-left: auto; margin-right: auto; width: 80%"/></td>
            </tr>
        </table>
        <table style = "border-collapse: collapse; width: 100%">
            <tr>
                <th colspan = "2" style = "text-align: left; padding: 10px 5% 10px">Like: <%= postLike.length %></th>
            </tr>
            <% for (var i = 0; i < postComment.length; i++) { %>
                <tr>
                    <td style = "border: 1px solid lightgray; padding: 10px 0 10px; width: 10%"><%= postComment[i][0] %></td>
                    <td style = "border: 1px solid lightgray; padding: 10px 0 10px; width: 90%"><%= postComment[i][1]%></td>
                </tr>
            <% }; %>            
        </table>
    </body>
</html>